

.swiper-area{
  position: relative;
  animation: rollIn 1s;
  -webkit-animation: rollIn 1s;
  -moz-animation: rollIn 1s;
  -o-animation: rollIn 1s;
  -ms-animation: rollIn 1s;
  margin-top: 80px;
}

@keyframes rollIn {
  0% {
      left: -50px;
  }

  100% {
      left: 0px;
  }
}