.container {
    position: relative;
    padding: 100px 50px;
    color: aliceblue;
    background-color: rgba(22,22,22,1);
    height: 100%;
    min-height: 100%;
}
.my-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card-container {
    margin: 40px;
}

@media screen and (max-width: 768px) {
    .card-container {
        margin: 20px;
    }
  
  }