.my-list-container{
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 100px 50px;
    height: 100%;
    min-height: 100%;
    background-color: rgba(22,22,22,1);
    color: aqua;
}

.card-container {
    margin: 40px;
}

@media screen and (max-width: 768px) {
    .card-container {
        margin: 20px;
    }
  
  }