.swiperContainer {
    margin: 5px;
}

.swiperHeader {
    width: fit-content;
    color:darkgray;
    font-size: small;
    padding-top: 20px;
}

.swiperHeader:hover {
    color: white;
    cursor: pointer;
}

