.header {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgba(22,22,22, 0);
  transition: 0.8s;
  align-items: center;
  min-height: 80px;
  width: 100%;
  z-index: 10;
}

.header_scrolled {
  background-color: rgb(22, 22, 22);
}

.menu_left {
  display: flex;
  justify-content: center;
}

.menu_right {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.menu_item_dropdown {
  display: none;
}

.MuiList-root {
  background-color: black;
  color: lightgray;
}

@media screen and (max-width: 768px) {
  .menu_left .menu_item {
    display: none;
  }
  .menu_item_dropdown {
    display: block;
    background: none;
    border: none;
    color: lightgray;
  }
}

.netflix_logo {
  margin: 20px 20px 20px 40px;
  max-width: 120px;
  max-height: 40px;
}

.netflix_logo:hover {
  cursor: pointer;
}

.menu_item {
  color: lightgray;
  background: none;
  letter-spacing: 1px;
  font-weight:bold;
  font-size: smaller;
  margin: 0px 5px;
  padding: 3px 3px;
  border: none;
  text-decoration: none;
  align-self: center;
}

.menu_item:hover {
  color: darkgrey;
  cursor: pointer;
  transition-delay: 0.1s; /* delays for 1 second */
  -webkit-transition-delay: 0.1s; /* for Safari & Chrome */
}
.container_video {
  top: 0;
  position: relative;
  padding-top: 56.25%;
  z-index: 0;
  margin-bottom: -20%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -10%;
}

.video_overlay {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-image: linear-gradient(
    rgba(54, 54, 54, 0.4),
    rgba(22, 22, 22, 0.6),
    rgba(22, 22, 22, 0.8),
    rgba(22, 22, 22, 1),
    rgba(22, 22, 22, 1)
  );
}

@media screen and (max-width: 768px) {
  .video_overlay {
    font-size: xx-small;
    top: 0px;
  }
  .container_video{
    margin-bottom: -10%;
  }

}