
.swiperContainer {
    padding: 30px 50px 0px 50px;
}
.swiperHeader {
    width: fit-content;
    color:darkgray;
    font-size: small;
}

.swiperSlide {
    padding: 25px 0px 25px 10px;
    opacity: 1;
    transition: all 450ms;
    outline: none;

}
.swiperSlide:hover {
    transform: scale(1.1);
    z-index:10;
    cursor: pointer;
    outline: none;
}



