.container {
  position: relative;
  padding-top: 56.25%;
  margin-top: -8%; /* Player ratio: 100 / (1280 / 720) */
}


.video {
  position: absolute;
  z-index: -2;
  top: -70px;
  left: 0;
}

.video_overlay {
  position: absolute;
  z-index: -1;
  top: -70px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(54, 54, 54, 0.4),
    rgba(54, 54, 54, 0.4),
    rgba(54, 54, 54, 0.4),
    rgba(0, 0, 0, 1)
  );
}

